/* The following colours were found in two places in XD: 
1.1 Go to: {} 
1.2 Copy and paste colour variables.
1.3 Refactor to SCSS.
2.1 Go to: </>
2.2 In section Colors, click on any colour that was not in the list under {}. The colour code will be copied to the clipboard.
2.3 Create SCSS variable for that colour code.
*/
/* Background colours */
$color_bg_brown: #5C1F06;
$color_bg_white: #F9F9F9;
/* Colours for fonts, etc. */
$color_black: #000000;
$color_black_transparent: #00000029;
$color_grey: #CCCCCC;
$color_dark_grey: #707070;
$color_light_brown: #D97852;
$color_beige: #D1B3A7;
$color_medium_beige: #A68E85;
$color_dark_beige: #524641;