/* Instead of as *, e.g.
@use "../../styles/globals" as *;
one can also give the name of a name space */
@use "../../styles/globals" as globals;

.hero {
    height: 40vh;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}