/* Instead of as *, e.g.
@use "../../styles/globals" as *;
one can also give the name of a name space */
@use "../styles/globals" as globals;

.pageContainer {
    background-color: globals.$color_bg_white;
    max-width: 1366px;
    margin: auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 8px;
    padding: 0 10vw 0 10vw;
}